<!-- Slider main container -->
<div class="swiper js-swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <img src="https://picsum.photos/500/300?random=1" alt="" srcset="">
        </div>
        <div class="swiper-slide">
            <img src="https://picsum.photos/500/300?random=2" alt="" srcset="">
        </div>
        <div class="swiper-slide">
            <img src="https://picsum.photos/500/300?random=3" alt="" srcset="">
        </div>
        <div class="swiper-slide">
            <img src="https://picsum.photos/500/300?random=4" alt="" srcset="">
        </div>
        <div class="swiper-slide">
            <img src="https://picsum.photos/500/300?random=5" alt="" srcset="">
        </div>

    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>

    <div class="js-gallery"></div>
</div>